body, html {
  padding: 0;
  margin: 0;
}


.cusomize-navbar.navbar {
  background: white;
  box-shadow: none;
  border: none;
}

.cusomize-navbar .navbar-nav>li>a,
.cusomize-navbar .navbar-nav>li>a:focus,
.cusomize-navbar .navbar-brand:focus,
.cusomize-navbar .navbar-brand {
  color: #00bcd4;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

.nav-tabs .nav-right {
  float: right;
}

.nav-tabs .nav-right a {
  margin-right: 0;
  margin-left: 2px;
}

.cusomize-navbar .navbar-brand:hover,
.cusomize-navbar .navbar-nav>li>a:hover {
  color: #1976d2;
}

.cusomize-navbar .navbar-brand {
  font-size: 2em;
}
.cusomize-navbar .navbar-link {
  font-size: 1.2em;
}

.custom-border {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(255, 255, 255);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 2px;
  z-index: 1;
  padding-bottom: 10px;
}

.help-block {
  height: 20px;
}

.btn-toolbar > .btn.custom-info-btn {
  display: block;
  margin: 0 auto;
  float: none;
}

.padding-15-0 {
  padding: 15px 0;
}

.padding-5-0 {
  padding: 15px 0;
}

.margin-0 {
  margin: 0;
}

.dashboard-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px 15px;
  margin-bottom: 20px;
}

.fa.middleSize {
  font-size: 25px;
  cursor: pointer;
}

.img-container {
  position: relative;
}

.img-container .fa-block {
  display: none;
  position: absolute;
  right: 5px;
  top: 4px;
}

.img-container:hover .fa-block {
  display: block;
}

.fa-block .fa {
  display: block;
  padding-top: 8px;
}

.fa-block .fa:hover {
  color: #337ab7;
}

.thumbnail:hover {
  border-color: #337ab7;
  cursor: pointer;
}



@media (max-width: 750px) {
    body {
      font-size: 12px;
    }
}
